# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/
xcuserdata/

# SwiftData & CoreData
*.sqlite
*.sqlite-wal
*.sqlite-shm

# macOS
.DS_Store

# Local dot directories
.*/
!.git/

# Xcode Patch (Toptal)
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/

# Firebase config (not for public repos)
GoogleService-Info.plist
**/GoogleService-Info.plist

