# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/
xcuserdata/

# SwiftData & CoreData
*.sqlite
*.sqlite-wal
*.sqlite-shm

# macOS
.DS_Store

# Xcode Patch (Toptal)
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
